@model BlogCreateVm
<div class="container">
    <h1>Create Blog</h1>
    <form method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="mb-3 col-md-5">
                <label asp-for="BlogName" class="form-label">Blog Name</label>
                <input asp-for="BlogName" class="form-control">
                <span asp-validation-for="BlogName" style="color:red"></span>
            </div>
            <div class="mb-3 col-md-5">
                <label asp-for="ImageFile" class="form-label">Image File</label>
                <input asp-for="ImageFile" class="form-control">
                <span asp-validation-for="ImageFile" style="color:red"></span>
            </div>
        </div>
        <div class="row">
            <div class="mb-3 col-md-6">
                <label asp-for="BlogDescription" class="form-label">Blog Description</label>
                <textarea class="form-control" asp-for="BlogDescription" rows="4"></textarea>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>